<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.thekaist">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".CustomApplication"
        android:allowBackup="true"
        android:icon="@drawable/applogo1"
        android:label="@string/app_name"
        android:roundIcon="@drawable/applogo1"

        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".SubActivity"></activity>

        <activity android:name=".AccessHistory" />

        <activity android:name=".MainActivity">
            android:configChanges="orientation|screenSize"
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".FrontActivity" />

        <activity android:name=".GameActivity" />

        <activity android:name=".changeUserinfo" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <!-- Redirect URI: "kakao{NATIVE_APP_KEY}://oauth" -->
                <data
                    android:host="oauth"
                    android:scheme="kakao48f5cbe98cf11a7bea726bbd5215aa20" />
            </intent-filter>
        </activity>

        <meta-data
            android:name="com.kakao.sdk.AppKey"
            android:value="48f5cbe98cf11a7bea726bbd5215aa20" />
    </application>

</manifest>